.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
}

.logo {
  width: var(--sidebar-width);
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 100%;
  padding-inline: 25px;

  a {
    text-decoration: none;
  }
}

.notificationsButton {
  display: flex;
  align-items: center;

  svg {
    width: 20px;
    height: 20px;
  }
}

.loginButton {
  margin-left: auto;
}

.notificationsList {
  max-height: 500px;
  overflow-y: auto;
}
