.navbar {
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
}

.logo {
  width: var(--sidebar-width);
}

.links {
  a {
    text-decoration: none;
  }
}

.loginButton {
  margin-left: auto;
}
