.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
}

.logo {
  width: var(--sidebar-width);
}

.links {
  display: flex;
  align-items: center;
  gap: 15px;

  a {
    text-decoration: none;
  }
}

.loginButton {
  margin-left: auto;
}
