.profileCard {
  padding: 20px;
  border: 2px solid var(--primary-color);
}

.data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  min-height: 150px;
}
