.radioGroup {
  border: none;
  text-transform: none;
}

.label {
  font-size: 18px;
  text-transform: uppercase;
}

.options {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.option {
  border: 1px solid gray;
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;

  &:has(input:checked) {
    border: 2px solid black;
  }

  & > input {
    display: none;
  }
}
