.addCommentForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  border: 1px solid var(--primary-color);
}

.input {
  margin-right: 15px;
  min-width: 50%;
}
