.tilesItem {
  width: 230px;
  transition: opacity, scale 0.2s;
  cursor: pointer;

  .date {
    display: none;
    position: absolute;
    top: 2px;
    right: 2px;
  }

  &:hover {
    opacity: 0.8;
    scale: 1.01;

    .date {
      display: block;
    }
  }

  .imgWrapper {
    position: relative;
    width: 200px;

    img {
      width: 100%;
    }
  }

  .infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    width: 125px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .views {
    display: flex;
    align-items: center;

    svg {
      margin-left: 4px;
    }
  }

  .title p {
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.tileSkeleton {
  width: 230px;

  .infoWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
  }

  .title {
    margin-top: 8px;
  }
}

.listItem {
  .header {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 10px;
    }

    .date {
      margin-left: auto;
    }
  }

  .imgWrapper {
    width: 100%;

    img {
      max-height: 250px;
      width: 100%;
      object-fit: cover;
    }
  }

  .previewText {
    max-height: 250px;
    overflow-y: hidden;
  }

  .footer {
    display: flex;
    align-items: center;
    margin-top: 30px;

    .views {
      display: flex;
      align-items: center;
      margin-left: auto;

      svg {
        margin-left: 6px;
      }
    }
  }
}

.listSkeleton {
  width: 100%;

  .header {
    display: flex;
    align-items: center;

    .avatar {
      margin-right: 10px;
    }
  }

  .title {
    margin-top: 8px;
  }

  .types {
    margin-top: 8px;
  }

  .img {
    margin-top: 8px;
  }

  .footer {
    margin-top: 30px;
  }
}
