.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  gap: 10px;
  align-items: center;
}

.avatarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.block {
  margin-top: 30px;
}
