.app.dark {
  --bg-color: #0a0950;
  --inverted-bg-color: #f0ecec;
  --primary-color: #058f11;
  --secondary-color: #00ff80;
  --inverted-primary-color: #4848b3;
  --inverted-secondary-color: #727299;
}
