.app.dark {
  --bg-color: rgb(10 9 80);
  --inverted-bg-color: rgb(240 236 236);
  --primary-color: rgb(5 143 17);
  --secondary-color: rgb(0 255 128);
  --inverted-primary-color: rgb(72 72 179);
  --inverted-secondary-color: rgb(114 114 153);
}
