.listBox {
  position: relative;
}

.button {
  padding-top: 2px;
  padding-bottom: 2px;
}

.options {
  position: absolute;
  min-width: 100%;
  background: var(--listbox-bg);
  border-radius: 8px;
  z-index: 10000;
}

.item {
  padding: 5px 10px;
}

.active {
  background: var(--card-bg);
}

.disabled {
  opacity: 0.5;
}
