.el {
  position: relative;
}

.items {
  position: absolute;
  border-radius: 8px;
  background: var(--listbox-bg);
  z-index: 10000;
}

.item {
  padding: 5px 10px;
}

.active {
  background: var(--card-bg);
}

.disabled {
  opacity: 0.5;
}
