.root {
  padding: 30px 20px 20px;
  background: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 12px;
  transition: 0.2s opacity;
  opacity: 0;
  max-width: 60%;
  overflow: hidden;
}

.root.opened {
  opacity: 1;
}

.root.closing {
  opacity: 0;
}

.content {
  cursor: auto;
}

.resizeControl {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
}
