.root {
  padding: 30px 20px 20px;
  background: var(--bg-color);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 12px;
  transition: 0.1s transform;
  transform: scale(0.1);
  max-width: 60%;
}

.root.opened {
  transform: scale(1);
}

.root.closing {
  transform: scale(0.1);
}

.content {
  cursor: auto;
}
