.button {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.items {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  overflow: hidden;

  &.left {
    right: 0;
  }
}

.item {
  width: 100%;
  border: none;
  background: var(--listbox-bg);
  color: var(--primary-color);
  text-decoration: none;
  cursor: pointer;
}
