.appLink {
  color: var(--primary-color);
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.primaryInverted {
  color: var(--inverted-primary-color);
}

.secondaryInverted {
  color: var(--inverted-secondary-color);
}
